# Week 3 - Text

The objective for this part of the lecture is to explain how Python represents strings and how they can be used.

* What is a string
* How to manipulate and parse strings
* Printing out strings

In [1]:
"Dr. James"

'Dr. James'

In [2]:
'Dr. James'

'Dr. James'

In [3]:
'Dr. James' + 1

TypeError: Can't convert 'int' object to str implicitly

In [5]:
'Dr. James' + ' and spouse'

'Dr. James and spouse'

In [6]:
'Dr. James\'s spouse'

"Dr. James's spouse"

In [7]:
len('Dr. James')

9

In [8]:
seq = 'AGCCGAC'
seq * 2

'AGCCGACAGCCGAC'

In [28]:
txt = '''This
string
is
on
multiple
lines'''

In [29]:
txt

'This\nstring\nis\non\nmultiple\nlines'

In [30]:
print(txt)

This
string
is
on
multiple
lines

# Parts of strings

In [35]:
name = "Paul E. Boal"

`[]` is used to "slice" a string

```
a[start:end] # items start through end-1
a[start:]    # items start through the rest of the array
a[:end]      # items from the beginning through end-1
a[:]         # a copy of the whole array
```

If `start` or `end` is a negative number, then it means that many characters from the end of the string.

In [47]:
len(name)

12

In [37]:
name[0]

'P'

In [40]:
name[0:4]

'Paul'

In [41]:
name[-4:]

'Boal'

In [43]:
name[5:]

'E. Boal'

In [44]:
name.find(' ')

4

In [45]:
name[0:name.find(' ')]

'Paul'

# Converting text to numbers

In [22]:
int('45')

45

In [23]:
float('45.12')

45.12

In [25]:
int('45.12')

ValueError: invalid literal for int() with base 10: '45.12'

In [26]:
int('1b')

ValueError: invalid literal for int() with base 10: '1b'

In [27]:
int('a',base=16)

10

## Printing text

In [11]:
# "old" style formatting
print('Put some text %s' % "here")

Put some text here

In [12]:
# "old" style formatting
print('Put a number here: %d' % 45)

Put a number here: 45

In [21]:
# "old" style formatting
print('Put a formatted number here: %.2f' % 143.8758787)

Put a formatted number here: 143.88

In [2]:
# "new" style formatting
'Put a formatted number here: {:.2f}'.format(143.8758787)

'Put a formatted number here: 143.88'

In [3]:
# "new" style formatting
'Here is {:d} and here is {:d}'.format(1,2)

'Here is 1 and here is 2'

See https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting for a good reference on formatting.

In [31]:
physician = 'Dr. James'
patient = 'Jane Doe'
diagnosis = 'Right Ulnar Fracture'
print(physician, patient, diagnosis, sep=',')

Dr. James,Jane Doe,Right Ulnar Fracture

## Getting Input

In [34]:
def greater (a, b):
    if (a > b):
        return a
    else:
        return b

a = int(input("Enter A:"))

greater(a, 100)

Enter A:78

100