# Week 3 - Strings

The objective for this part of the lecture is to explain how Python represents strings and how they can be used.

* What is a string
* How to manipulate and parse strings
* Printing out strings

In [1]:
"Dr. James"

'Dr. James'

In [2]:
'Dr. James'

'Dr. James'

In [3]:
'Dr. James' + 1

TypeError: Can't convert 'int' object to str implicitly

In [5]:
'Dr. James' + ' and spouse'

'Dr. James and spouse'

In [6]:
'Dr. James\'s spouse'

"Dr. James's spouse"

In [7]:
len('Dr. James')

9

In [8]:
seq = 'AGCCGAC'
seq * 2

'AGCCGACAGCCGAC'

In [9]:
'''This
string
is
on
multiple
lines'''

'This\nstring\nis\non\nmultiple\nlines'

# Converting text to numbers

In [22]:
int('45')

45

In [23]:
float('45.12')

45.12

In [25]:
int('45.12')

ValueError: invalid literal for int() with base 10: '45.12'

In [26]:
int('1b')

ValueError: invalid literal for int() with base 10: '1b'

In [27]:
int('a',base=16)

10

## Printing text

In [11]:
print('Put some text %s' % "here")

Put some text here

In [12]:
print('Put a number here: %d' % 45)

Put a number here: 45

In [21]:
print('Put a formatted number here: %.2f' % 143.8758787)

Put a formatted number here: 143.88